<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        Login
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="notification is-danger" *ngIf="errors.length > 0">
            <ul>
              <li *ngFor="let err of errors">{{ err.message }}</li>
            </ul>
          </div>
          <form [formGroup]="form">
            <p class="control is-danger" id="usernameControl">
              <input class="input is-large" [ngClass]="{'is-danger': (!form.controls.username.valid && !form.controls.username.pristine)}"
                type="username" placeholder="Usuário" formControlName="username">
              <span class="tag is-danger" *ngIf="!form.controls.username.valid && !form.controls.username.pristine">Usuário inválido</span>
            </p>
            <p class="control">
              <input class="input is-large " [ngClass]="{'is-danger': (!form.controls.password.valid && !form.controls.password.pristine)}"
                type="password" placeholder="Senha" formControlName="password">
              <span class="tag is-danger" *ngIf="!form.controls.password.valid && !form.controls.password.pristine">Senha Inválida</span>
            </p>
            <p>
              <button (click)="submit()" class="button is-primary is-inverted is-large is-outlined is-fullwidth" [disabled]="!form.valid">Entrar</button>
              <br>
              <a routerLink="/signup" class="button is-link is-fullwidth">Ainda não sou cadastrado</a>
            </p>
            <hr>
            <p>
              <button (click)="showModal()" class="button is-link is-fullwidth">Termos de uso</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" id="modalTermosUso">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Termos de Uso</p>
      <button class="delete" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      Os termos ainda estão sendo definidos!
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="closeModal()">OK</button>
    </footer>
  </div>
</div>